* {
    font-family: 'Bruno Ace', cursive;
}

/* .gradient-text {
        background-image: linear-gradient(to right, #dd702d 35%, #5d99bd 54%, #7d4b34 50%, #a61d2f 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
      } */

/* background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); */
/* background-image: linear-gradient(to right,#dd702d,#5d99bd,#7d4b34,#a61d2f,black,black); */

.gradient-text {
    background-image: linear-gradient(to right, #dd702d, #dd702d 20%, #5d99bd 30%, #5d99bd 30%, #7d4b34 30%, #a61d2f 20%, #5d99bd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.Btable{
    background-color: linear-gradient(to right, #dd702d 35%, #5d99bd 54%, #7d4b34 50%, #a61d2f 50%);;
}

.topPic {
    background-image: url('image/54174.jpg');
    min-height: 400px;
    border-radius: 32px;
    font-family: "Pattaya", sans-serif;
    box-shadow: 0px 10px 22px 0px #000000;
    background-position: center;
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    background-size: cover;

}